.App {
  width: 512px;
  margin: 0 auto;
  margin-top: 4rem;
  border: 1px solid black;
  padding: 1rem;
  .buttons + .buttons {
    margin-top: 1rem; // 아래에 있는 버튼에 적용
  }
  .customized-button {
    background: black;
  }
}
